.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile-header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #343a40;
  }
  
  .profile-header button {
    font-size: 1rem;
    padding: 10px 20px;
  }
  
  .profile-details {
    margin-top: 20px;
  }
  
  .profile-details h3 {
    font-size: 1.25rem;
    color: #6c757d;
  }
  
  .profile-details b {
    color: #495057;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  form label {
    font-size: 1rem;
    color: #495057;
  }
  
  form input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  form button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
  }
  
  form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  form button[type="button"] {
    background-color: #6c757d;
    color: #fff;
  }
  
  form button[type="button"]:hover {
    background-color: #5a6268;
  }