.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/bkgr.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  overflow-y: hidden;
}

.vibrant-text {
  color: #3498db;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(34, 33, 33, 0.7);
}

.line1 {
  font-size: 2em;
  color: #f39c12;
  margin-top: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.line2 {
  font-size: 1em;
  margin-top: 5px;
  color: #ecf0f1;
}

.hero-btns {
  margin-top: 20px;
}

.btns {
  background: white; /* Default background color */
  color: #020202; /* Text color */
  border: 2px solid #f1f4f6;
  transition: all 0.3s ease-out;
}

.btns:hover {
  background: #f4f4f4;
  color: white;
}