.navbar {
  background: #000000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1500px;
  padding: 0 20px;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.navbar-logo:hover {
  color: #f9a825;
}

.menu-icon {
  display: none;
  cursor: pointer;
  color: #fff;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin-left: auto; /* Pushes nav-menu to the right */
  margin-right: 20px; /* Additional margin to separate from button */
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-links:hover {
  color: #f9a825;
  border-bottom: 4px solid #f9a825;
  transition: all 0.2s ease-out;
}

.nav-btn {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links-mobile {
  display: none;
}

.btn--outline {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px 22px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s ease-out;
}

.btn--outline:hover {
  background: #fff;
  color: #343a40;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: #403434;
  }

  .nav-menu.active {
    left: 0;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #343a40;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #1dc5c2;
    color: #fff;
    padding: 14px 20px;
    border: none;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #343a40;
    transition: 250ms;
  }
}