* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}
.container{
  position: absolute;
  top: 38%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
}
.containerservice{
    display: flex;
    width: 90%;
    justify-content:center
    
}

/* Signup.css */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set a minimum height to cover the entire viewport */
}

.signup-box {
  max-width: 500px; 
  width: 100%;
  padding: 2rem; 
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set a minimum height to cover the entire viewport */
}

.login-box {
  max-width: 500px; 
  width: 100%;
  padding: 2rem; 
}

#recaptcha-container {
  margin: 20px;
}